ul > li{
    display: inline-block;
    margin-right: 2em;
    border-bottom: 2px dashed darkorange;
    
    
    border-width: 5px 10px;
    border-style: dashed double;
    border-color: darkorange;
}
p{  
    /* margin: 8px; */
    /* margin-top: 8px ;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px; */
    /* 상,하 : 8px , 좌,우 : 16px */
    /* margin : 8px 16px; */
    /* 시계방향 : 상:8px , 우: 6px 하 : 12px  좌: 6px */
    padding : 10px 8px 6px 4px;
    margin: 8px 6px 12px;
    display: inline-block;
}
